<%- include('partials/header'); -%>

<header>
  <div class="headings">
    <h2>Login Authentication using JWT</h2>
    <h3>By Ankit Patel</h3>
    <a href="/private" class="btn">View private page</a>
  </div>
</header>


<%- include('partials/footer'); -%>