<%- include('partials/header'); -%>
<style>
  body {
    background-color: #f8f9fa91;
    background-image: url('backImg.jpeg');
  }

  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    margin-bottom: 170px;
    width: 40%;
    max-width: 50%;
    padding: 20px;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 2px 4px 3px rgba(43, 43, 43, 0.228);
    border: 1px solid gray;
  }
  .form-control {
    background-color: transparent;
  }
  .btn-primary:hover {
    background-color: #5de822fd;
    border-color: #5de822fd;
    color: black;
  }
</style>
<div class="login-container ">
  <div class="login-form text-light">
    <form > 
      <h2>Login</h2>
      <div class="mb-3">
        <label for="email">Email</label>
        <input type="text" class="form-control" name="email" required />
      </div>
      <div class="email error"></div>
      <div class="mb-3" class="form-control">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" required />
      </div>
      <div class="password error"></div>
      <button class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
<script>
  const form = document.querySelector("form");
  const emailerror = document.querySelector("email.error");
  const passworderror = document.querySelector("password .error");

  form.addEventListener("submit", async (e) => {
    console.log("request send");
    e.preventDefault();
    const email = form.email.value;
    const password = form.password.value;

    try {
      console.log(email, password);
      const res = await fetch("/login", {
        method: "POST",
        body: JSON.stringify({ email, password }),
        headers: { "Content-Type": "application/json" },
      });
      console.log("res", res);
      const data = await res.json();
      console.log("data", data);
      let errorflag = false;
      if (data.message) {
        emailerror.innerText = data.message;
        errorflag = true;
      }
      if (!errorflag) {
        location.assign("/");
      }
    } catch (e) {
      console.log(e);
    }
  });
</script>

<%- include('partials/footer'); -%>
