<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>TechSciFun</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="./planestyle.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body>
    <canvas id="canvas"></canvas>
</body>
<!-- partial -->
  <script  src="./planescript.js"></script>

</body>
</html>
