<%- include('partials/header'); -%>

<ul >
  <li>
    <h4>Private list 1</h4>
    <p>Banana</p>
  </li>
  <li >
    <h4>Private list 2</h4>
    <p>Peach</p>
  </li>
  <li >
    <h4>Private list 3</h4>
    <p>Oats</p>
  </li>
</ul>

<%- include('partials/footer'); -%>